<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>(C)2003 Rasmus Andersson</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Hovden Stitch</string>
	<key>openTypeHeadCreated</key>
	<string>2003/08/24 17:24:11</string>
	<key>openTypeHheaAscender</key>
	<integer>800</integer>
	<key>openTypeHheaDescender</key>
	<integer>-200</integer>
	<key>openTypeNameDesigner</key>
	<string>Rasmus Andersson</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://rsms.me/</string>
	<key>openTypeNameManufacturer</key>
	<string>RSMS</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://rsms.me/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hovden Stitch</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>Alts</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>800</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>HovdenStitch-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-143</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>20</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
