<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0000</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>bullet</string>
		<string>germandbls</string>
		<string>acute</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>fraction</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni00A0</string>
		<string>brokenbar</string>
		<string>minus</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Eacute</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Udieresis</string>
		<string>divide</string>
		<string>apple</string>
	</array>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.font.vendorID</key>
	<string>Alts</string>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>4528F48A-D524-4209-BEF5-FF146440EB9B</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0000</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>bullet</string>
		<string>germandbls</string>
		<string>acute</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>fraction</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni00A0</string>
		<string>brokenbar</string>
		<string>minus</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Eacute</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Udieresis</string>
		<string>divide</string>
		<string>apple</string>
	</array>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>10</integer>
	<key>com.schriftgestaltung.gridSubDivision</key>
	<integer>10</integer>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>uni0000</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>bullet</string>
		<string>germandbls</string>
		<string>acute</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>fraction</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>uni00A0</string>
		<string>brokenbar</string>
		<string>minus</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Eacute</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Udieresis</string>
		<string>divide</string>
		<string>apple</string>
	</array>
</dict>
</plist>
